/docs/.obsidian/workspace.json
/docs/.obsidian/graph.json
/docs/.obsidian/sync/
/docs/.obsidian/cache/
/docs/.obsidian/plugins/*/data.json

bin/
dist/
out/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.prof
*.test
coverage.html

.idea
.gemini
.vscode/
.DS_Store
Thumbs.db

config.json
settings.json
media
logs

GEMINI.md